<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Sandika's First Ever</title>
	</head>
	<body>		
		<p align="center">
		Nama: {{ nama1 }}
		<br/>NPM: 1706043802
		<br/>Tempat kuliah: Universitas Indonesia
		<br/>Hobi: Gaming
		<br/>Deskripsi diri: Seorang yang suka ngegame tetapi sudah kurang memungkinkan lagi sejak kuliah.</p>
		<p align="center">
			<img src="http://www.about.tarung2017.com/foto/333.jpg"></img>
		</p>
		
		<br/><br/>
		
		<p align="center">
		Nama: {{ nama2 }}
		<br/>NPM: 1706984562
		<br/>Tempat kuliah: Universitas Indonesia
		<br/>Hobi: Gaming
		<br/>Deskripsi diri: Saya bahagia.</p>
		<p align="center">
			<img src="http://www.about.tarung2017.com/foto/110.jpg"></img>
		</p>
		
		<br/><br/>
		
		<p align="center">
		Nama: {{ nama3 }}
		<br/>NPM: 1706043935
		<br/>Tempat kuliah: Universitas Indonesia
		<br/>Hobi: Main volly
		<br/>Deskripsi diri: Tinggi dan bahagia</p>
		<p align="center">
			<img src="http://www.about.tarung2017.com/foto/605.jpg"></img>
		</p>
		
	</body>
</html>

